@page "/projects/create"
@inject IProjectService ProjectService
@inject NavigationManager NavigationManager

<PageTitle>New Project</PageTitle>

<div class="card bg-light">
    <div class="card-body">
        <ProjectForm Project="_project" OnSubmit="SubmitForm" />
    </div>
</div>

@code {
    private Project _project = new Project();
    
    private async Task SubmitForm(Project project)
    {
        await ProjectService.AddProject(project);
        NavigationManager.NavigateTo("projects");
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("projects");
    }
}
