@page "/projects/{Id:int}/edit"
@inject IProjectService ProjectService
@inject NavigationManager NavigationManager

<PageTitle>New Project</PageTitle>
@if(_project == null)
{
    <p><em>Loading...</em></p>
} 
else
{
    <div class="card bg-light">
        <div class="card-body">
            <ProjectForm Project="_project" OnSubmit="SubmitForm" />
        </div>
    </div>
}
@code {
    private async Task SubmitForm(Project project)
    {
        await ProjectService.UpdateProject(project);
        NavigationManager.NavigateTo("projects/" + Id);
    }
    void Cancel()
    {
        NavigationManager.NavigateTo("projects/" + Id);
    }

    [Parameter]
    public int Id { get; set; }

    private Project? _project;

    protected override async Task OnInitializedAsync()
    {
        _project = await ProjectService.GetProject(Id);
    }
}
